/* 字体 */

@font-face {
  font-family: Smiley sans;
  font-style: normal;
  font-weight: 400;
  src: url("https://oss.hrsrive.cn/SmileySans-Oblique.ttf.woff2")
    format("woff2");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* 删除所有a标签的下划线 */
/* 删除a标签的蓝色样式 */
a {
  text-decoration: none;
  color: inherit;
  cursor: url(@/assets/pointer.webp), auto;
}

/* 默认鼠标样式 */

body {
  cursor: url(@/assets/mouse.webp), auto;
}
